* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: #1a1d21;
  --secondary-text: #637381;
  --background: #e3e3e3;
  --background-dark: #b6b6b6 --borders: #e1e5e9;
  --primary: #007ad8;
  --hover: #0062af;
  --focus: #3da9ff;
}
:root[data-theme='dark'] {
  --text: #e0e0e0;
  --secondary-text: #a0a0a0;
  --background: #1e1f20;
  --background-dark: #181919;
  --borders: #333333;
}
html {
  font-size: 62.5%; /* 62.5% of 16px is 10px */
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: -0.5px;
}
body {
  background-color: var(--background);
  color: var(--text);
}
h1 {
  color: var(--primary);
}
